---
import path from "path";

import LightBox from "@/components/businesses/LightBox";
import { getImageHelper } from "@/scripts/images/getImageHelper";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

type Props = {
    articleDirPath: string;
};

const { articleDirPath }: Props = Astro.props;

const imgPath = path.join(articleDirPath, "*.{jpeg,jpg,png,gif}");

const imgImports = await import.meta.glob<{ default: ImageMetadata }>(imgPath);

const slides = await Promise.all(
    images.map(async (slide: ImageMetadata) => await getImageHelper(slide))
);
---

<div class="collection-component">
    <LightBox slides={slides} client:only="react" />
</div>
