---
import LightBox from "@/components/businesses/LightBox";
import { getImageHelper } from "@/scripts/images/getImageHelper";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import TagList from "../promos/TagList.vue";
import { getPlaceCardRefs } from "@/scripts/placeCard/genericPlaceCard/getPlaceCardRefs";
import { getCollection } from "astro:content";
import { getEntries } from "astro:content";

type Props = {
    businessKey: CollectionEntry<"businesses">["id"];
};

const { businessKey }: Props = Astro.props;

const business = await getEntry("businesses", businessKey);

if (business === undefined) {
    throw new Error(`business ${businessKey} does not exist`);
}

const tagEntries = await getEntries(business.data.tags);

const tags = await getPlaceCardRefs("tags", tagEntries);
---

<div class="collection-component">
    <TagList side="left" size="sm" tags={tags} client:only="vue" />
</div>
