---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection, type CollectionEntry } from "astro:content";
import PlaceCard from "./PlaceCard.astro";
import Layout from "@/layouts/Layout.astro";

const places: CollectionEntry<"places">[] = await getCollection("places");
---

<Layout>
	<article class="pt-[3rem]">
		<ul class="grid grid-cols-2 gap-4">
			{
				places.map((place) => (
					<li>
						<PlaceCard {...place} />
					</li>
				))
			}
		</ul>
	</article>
</Layout>
