---
import MonoBody from "@/components/elements/MonoBody.astro";

import Nav from "@/components/elements/Nav.astro";
import H1 from "@/components/elements/H1.astro";
import { Picture } from "astro:assets";

type Props = {
    image: ImageMetadata;
    title: string;
    description?: string;
};

const { image, title, description }: Props = Astro.props;

// console.log(image.src);
---

<header class="relative w-full h-[500px] overflow-hidden">
    <div class="absolute top-0 left-0 right-0 z-10">
        <Nav />
    </div>
    <Picture
        src={image}
        alt={title}
        formats={["avif", "webp"]}
        loading="eager"
        class="absolute inset-0 w-full h-full object-cover z-0"
    />
    <div
        class="absolute inset-0 flex flex-col justify-center items-center text-center bg-black/40 z-[5] p-4"
    >
        <H1 color="white" position="center">{title}</H1>
        {
            description && (
                <MonoBody color="white" position="center">
                    {description}
                </MonoBody>
            )
        }
    </div>
</header>
