---
import Nav from "@/components/elements/Nav.astro";
import { Picture } from "astro:assets";

type Props = {
    image: ImageMetadata;
    title: string;
    description?: string;
    Content: (_props: any) => JSX.Element;
};

const { image, title, description, Content }: Props = Astro.props;
---

<header class="relative w-full h-[400px] lg:h-[600px] overflow-hidden">
    <div class="absolute top-0 left-0 right-0 z-10">
        <Nav />
    </div>
    <Picture
        src={image}
        alt={title}
        formats={["avif", "webp"]}
        loading="eager"
        class="absolute inset-0 w-full h-full object-cover z-0"
    />
    <div class="absolute inset-0 z-[5]">
        <Content title={title} description={description} />
    </div>
</header>
