---
import Nav from "@/components/elements/Nav.astro";
import { Image } from "astro:assets";
import ScreenWidth from "../elements/ScreenWidth.vue";
type Props = {
    image: ImageMetadata;
    title: string;
    description?: string;
    Content: (_props: any) => JSX.Element;
};

const { image, title, description, Content }: Props = Astro.props;
---

<header
    class="relative w-full h-[650px] lg:h-[700px] xl:h-[950px] overflow-hidden"
>
    <div class="absolute top-0 left-0 right-0 z-10">
        <Nav />
    </div>
    <Image
        src={image}
        alt={title}
        class="absolute inset-0 h-full object-cover"
        width={2500}
    />
    <div
        class="bg-black/40
        absolute
        inset-0
        z-[5]
        40"
    >
        <ScreenWidth>
            <Content title={title} description={description} />
        </ScreenWidth>
    </div>
</header>
