---
import Nav from "@/components/elements/Nav.astro";
import { Image } from "@unpic/astro";
import ScreenWidth from "../elements/ScreenWidth.astro";
type Props = {
    image: ImageMetadata;
    title: string;
    description?: string;
    Content: (_props: any) => JSX.Element;
};

const { image, title, description, Content }: Props = Astro.props;
---

<header
    class="relative w-full h-[600px] md:h-[500px] lg:h-[600px] overflow-hidden"
>
    <div class="absolute top-0 left-0 right-0 z-10">
        <Nav />
    </div>
    <Image
        src={image}
        alt={title}
        layout="constrained"
        loading="eager"
        placeholder="blurhash"
        class="absolute inset-0 h-full object-cover"
        priority
        breakpoints={[2000, 1024, 600, 430]}
    />
    <div
        class="bg-black/40
        absolute
        inset-0
        z-[5]
        40"
    >
        <ScreenWidth>
            <Content title={title} description={description} />
        </ScreenWidth>
    </div>
</header>
