---
import H2 from "@/components/elements/headers/H2.astro";
import CarouselWrapper from "./CarouselWrapper.vue";
import { getCollection } from "astro:content";

import Section from "@/components/elements/section.astro";
import { getPlaceCardsFromBusinesses } from "@/scripts/placeCard/handler";
import ScreenWidth from "@/components/elements/ScreenWidth.astro";

const businesses = await getCollection("businesses");

const businessPlaceCards = await getPlaceCardsFromBusinesses(businesses);
---

<Section direction="column">
    <ScreenWidth>
        <H2 color="coral" position="center"> Discover more Businesses </H2>
    </ScreenWidth>

    <CarouselWrapper client:load items={businessPlaceCards} />
</Section>
