---
import H2 from "@/components/elements/headers/H2.astro";
import CarouselWrapper from "./CarouselWrapper.vue";
import { getCollection } from "astro:content";

import Section from "@/components/elements/section.astro";
import { getPlaceCards } from "@/scripts/placeCard/handler";
import { sortByIndex } from "@/scripts/placeCard/sorting";
import type { PlaceCardRef } from "@/components/placeCards/PlaceCardRef";
import { getPlaceCardRefs } from "@/scripts/placeCard/genericPlaceCard/getPlaceCardRefs";

const promotedCategories = [
    "food-and-drink",
    "art-and-design",
    "cafe",
    "lunch",
    "pubs-and-bars",
    "restaurant",
    "healthcare",
];

const tags = await getCollection("tags");

const selectedCategories = tags.filter((tag) =>
    promotedCategories.includes(tag.slug)
);

const categoryPlaceCardRefs: PlaceCardRef[] = getPlaceCardRefs(
    "tags",
    selectedCategories
);

const categoryPlaceCards = await getPlaceCards(categoryPlaceCardRefs);

const sortedCategoryPlaceCards = sortByIndex(
    categoryPlaceCards,
    promotedCategories
);
---

<Section direction="column">
    <H2 color="coral" position="center"> Independent Businesses </H2>

    <CarouselWrapper client:load items={sortedCategoryPlaceCards} />
</Section>
