---
import H2 from "@/components/elements/headers/H2.astro";
import { Carousel, CarouselContent, CarouselItem } from "@/components/ui/carousel";
import CarouselWrapper from "./CarouselWrapper.vue";

---
<section>
    <H2 color="coral" position="center" >
        Independent Businesses
    </H2>
    <CarouselWrapper client:load/>

</section>