---
import H2 from "@/components/elements/headers/H2.astro";
import CarouselWrapper from "./CarouselWrapper.vue";
import { getCollection } from "astro:content";

import { getImage } from "astro:assets";
import type { PlaceCard } from "@/components/placeCards/PlaceCard";
import { categorySchema } from "@/schemas/category";
import Section from "@/components/elements/section.astro";

const categories = await getCollection("category");

const promotedCategories = [
    "food-and-drink",
    "clothing",
    "cafe",
    "lunch",
    "restaurant",
    "pubs-and-bars",
];

const selectedCategories = categories.filter((category) =>
    promotedCategories.includes(category.slug)
);

const specialItems = await Promise.all(
    selectedCategories.map(async (category) => {
        let image = await getImage({
            src: category.data.heroImage,
            format: "webp",
        });

        let imageUrl = image.src;

        return {
            title: category.data.name,
            content: category.data.description,
            image: imageUrl,
            href: `/category/${category.slug}`,
        } as PlaceCard;
    })
);

const carouselItems = specialItems.slice(0, 7);
---

<Section direction="column">
    <H2 color="coral" position="center"> Independent Businesses </H2>

    <CarouselWrapper client:load items={carouselItems} />
</Section>
