---
import H2 from "@/components/elements/headers/H2.astro";
import CarouselWrapper from "./CarouselWrapper.vue";
import { getCollection } from "astro:content";

import { getImage } from "astro:assets";
import type { PlaceCard } from "@/components/placeCards/PlaceCard";
import Section from "@/components/elements/section.astro";

const tags = await getCollection("tags");

const promotedCategories = [
    "food-and-drink",
    "art-and-design",
    "cafe",
    "lunch",
    "restaurant",
    "pubs-and-bars",
];

const selectedCategories = tags.filter((tag) =>
    promotedCategories.includes(tag.slug)
);

const specialItems = await Promise.all(
    selectedCategories.map(async (tag) => {
        if (tag.data.heroImage == null) return null;

        let image = await getImage({
            src: tag.data.heroImage,
            format: "webp",
        });

        let imageUrl = image.src;

        return {
            title: tag.data.name,
            content: tag.data.description,
            image: imageUrl,
            href: `/tags/${tag.slug}`,
        } as PlaceCard;
    })
);

const carouselItems = specialItems.filter((item) => item !== null).slice(0, 7);
---

<Section direction="column">
    <H2 color="coral" position="center"> Independent Businesses </H2>

    <CarouselWrapper client:load items={carouselItems} />
</Section>
