---
import H2 from "@/components/elements/headers/H2.astro";
import PlaceCardGrid from "@/components/placeCards/PlaceCardGrid.vue";

import newsImage from "@/assets/images/index/home/guest-road.jpg";
import tradeImage from "@/assets/images/tags/bakery/bakery.jpg";
import marketImage from "@/assets/images/index/sharrow-vale-market/666576a0c2d4c780054817d3_market-.jpeg";
import aboutImage from "@/assets/images/index/about.png";

import Section from "@/components/elements/sections/FloatSection.astro";
import type { PlaceCardRef } from "@/components/placeCards/PlaceCardRef";
import { getPlaceCards } from "@/scripts/placeCard/handler";
import { getImageHelper } from "@/scripts/images/getImageHelper";

const placeCardRefs: PlaceCardRef[] = [
    {
        type: "articles",
        collectionEntry: {
            slug: "",
            data: {
                name: "News & Updates",
                heroImage: newsImage,
            },
        },
    },
    {
        type: "categories",
        collectionEntry: {
            slug: "directory",
            data: {
                name: "Find a local tradesperson",
                heroImage: tradeImage,
            },
        },
    },
    {
        type: "tags",
        collectionEntry: {
            slug: "sharrow-vale-market",
            data: {
                name: "Sharrow Vale Market",
                heroImage: marketImage,
            },
        },
    },
];

const contentCollectionPlaceCards = await getPlaceCards(placeCardRefs);

const aboutImageLoaded = await getImageHelper(aboutImage);

const placeCards = [
    ...contentCollectionPlaceCards,
    {
        image: aboutImageLoaded,
        title: "About this site",
        href: "/join",
    },
];
---

<Section floatIn={true}>
    <H2 position="center" color="coral">Info for Locals</H2>
    <div class="flex justify-center">
        <div class="grid w-full grid-cols-2 gap-8 xl:hidden">
            {placeCards.slice(0, 4).map((item) => <PlaceCardGrid {...item} />)}
        </div>

        <div class="hidden w-full grid-cols-3 gap-8 xl:grid">
            {placeCards.slice(0, 3).map((item) => <PlaceCardGrid {...item} />)}
        </div>
    </div>
</Section>
