---
import H2 from "@/components/elements/headers/H2.astro";
import type { PlaceCard } from "@/components/placeCards/PlaceCard";
import PlaceCardGrid from "@/components/placeCards/PlaceCardGrid.vue";

import newsImage from "@/assets/images/index/home/guest-road.jpg";

import tradeImage from "@/assets/images/tags/bakery/bakery.jpg";

import marketImage from "@/assets/images/index/sharrow-vale-market/666576a0c2d4c780054817d3_market-.jpeg";

import aboutImage from "@/assets/images/index/home/dyson-place.jpeg";
import Section from "@/components/elements/section.astro";
import type { PlaceCardRef } from "@/components/placeCards/PlaceCardRef";
import { getPlaceCardsFromItems } from "@/scripts/placeCard/handler";
import { getImageHelper } from "@/scripts/images/getImageHelper";
import ScreenWidth from "@/components/elements/ScreenWidth.astro";

const placeCardRefs: PlaceCardRef[] = [
    {
        type: "articles",
        item: {
            name: "News & Updates",
            heroImageMetaData: newsImage,
            slug: "",
        },
    },
    {
        type: "categories",
        item: {
            name: "Find a local tradesperson",
            heroImageMetaData: tradeImage,
            slug: "directory",
        },
    },
    {
        type: "categories",
        item: {
            name: "Sharrow Vale Market",
            heroImageMetaData: marketImage,
            slug: "community",
        },
    },
];

const contentCollectionPlaceCards = await getPlaceCardsFromItems(placeCardRefs);

const aboutImageLoaded = await getImageHelper(aboutImage);

const placeCards = [
    ...contentCollectionPlaceCards,
    {
        image: aboutImageLoaded,
        title: "About this site",
        href: "/join",
    },
];
---

<Section>
    <H2 position="center" color="coral">Info for Locals</H2>
    <div class="justify-center flex">
        <div class="grid grid-cols-2 max-w-screen-md gap-x-3 gap-y-5">
            {placeCards.map((item) => <PlaceCardGrid {...item} />)}
        </div>
    </div>
</Section>
