---
import H2 from "@/components/elements/headers/H2.astro";
import Section from "@/components/elements/sections/FloatSection.astro";
import { getPlaceCardsFromBusinesses } from "@/scripts/placeCard/handler";
import { sortByDateTime } from "@/scripts/placeCard/sorting";
import { getCollection } from "astro:content";
import PlaceCardWide from "@/components/placeCards/PlaceCardWide.vue";
import UnorderedList from "@/components/elements/articles/UnorderedList.vue";

const businesses = await getCollection("businesses");

const businessPlaceCards = await getPlaceCardsFromBusinesses(businesses, 800);

const sortedBusinessPlaceCards = sortByDateTime(businessPlaceCards);
---

<Section floatIn={true} classList="items-center">
    <H2 color="coral" classList="text-center">New to the Site</H2>
    <div class="flex w-full max-w-[900px] justify-center">
        <UnorderedList gap={3} id="new-to-the-area">
            {
                sortedBusinessPlaceCards.slice(-3).map((item) => (
                    <li>
                        <PlaceCardWide {...item} />
                    </li>
                ))
            }
        </UnorderedList>
    </div>
</Section>

<style>
    #new-to-the-area {
        container-name: new-to-the-area;
        container-type: inline-size;
    }
</style>
