---
import P from "@/components/elements/body/P.vue";
import H2 from "@/components/elements/headers/H2.astro";
import Section from "@/components/elements/section.astro";
import LargeCard from "@/components/placeCards/LargeCard.astro";
import type { PlaceCard } from "@/components/placeCards/PlaceCard";

import img from "@/assets/images/index/sharrow-vale-market/666576a0c2d4c780054817d3_market-.jpeg";
import { getImageHelper } from "@/scripts/images/getImageHelper";

const imgSrc = await getImageHelper(img);

const item: PlaceCard = {
    image: imgSrc,
    title: "Sharrow Vale Market",
    href: "/categories/community",
    content: "Discover more about the community",
};
---

<Section floatIn={true}>
    <H2 color="coral" position="center" classList="md:hidden"
        >Sharrow Vale Market</H2
    >
    <LargeCard item={item}>
        <P weight="light" size="xl">
            Sharrow Vale Market is one of the Sharrows most beloved features,
            running three times a year from Hunters Bar roundabout all the way
            down Stewart road.
        </P>
        <P weight="light" size="xl">
            The market hosts around 100 stalls selling a wide variety of locally
            reared and home made produce as well as hot food, crafts, clothing
            and plants. In addition to the stalls, most of the shops, pubs and
            cafes are also open on market days.
        </P>
    </LargeCard>
</Section>
