---
import ContentPromotions from "@/components/content/ContentPromotions.astro";
import H2 from "@/components/elements/headers/H2.astro";
import Section from "@/components/elements/section.astro";
import type { PlaceCardRef } from "@/components/placeCards/PlaceCardRef";
import { getPlaceCardRefs } from "@/scripts/placeCard/genericPlaceCard/getPlaceCardRefs";
import { getPlaceCards as getPlaceCardsFromRefs } from "@/scripts/placeCard/handler";
import { sortByIndex } from "@/scripts/placeCard/sorting";
import { type CollectionEntry, getCollection } from "astro:content";

const slugs = ["dyson-place", "made-in-sheffield", "new-to-the-area", "events"];

const categories: CollectionEntry<"categories">[] = await getCollection(
    "categories",
    (category) => slugs.includes(category.slug)
);

const categoryItems: PlaceCardRef[] = getPlaceCardRefs(
    "categories",
    categories
);

const tags: CollectionEntry<"tags">[] = await getCollection(
    "tags",
    (category) => slugs.includes(category.slug)
);

const tagItems: PlaceCardRef[] = getPlaceCardRefs("tags", tags);

const businessPlaceCards = await getPlaceCardsFromRefs(
    [...categoryItems, ...tagItems],
    800
);

const sortedBusinessPlaceCards = sortByIndex(businessPlaceCards, slugs);
---

<Section floatIn={true}>
    <H2 position="center" color="coral">Business Spotlight</H2>
    <ContentPromotions promotionPlaceCards={sortedBusinessPlaceCards} />
</Section>
