---
import ContentPromotions from "@/components/content/ContentPromotions.astro";
import H2 from "@/components/elements/headers/H2.astro";
import Section from "@/components/elements/section.astro";
import type { PlaceCardRef } from "@/components/placeCards/PlaceCardRef";
import { getPlaceCardsFromItems as getPlaceCardsFromRefs } from "@/scripts/placeCard/handler";
import { type CollectionEntry, getCollection } from "astro:content";

const slugs = ["dyson-place", "made-in-sheffield", "new-to-the-area", "events"];

const categories: CollectionEntry<"categories">[] = await getCollection(
    "categories",
    (category) => slugs.includes(category.slug)
);

console.log(categories);

const categoryItems: PlaceCardRef[] = categories.map((category) => {
    if (category.data.heroImage == null) {
        throw new Error(
            "category must include a hero images to be matted to a PlaceCardRef"
        );
    }

    return {
        type: "categories",
        item: {
            name: category.data.name,
            heroImageMetaData: category.data.heroImage,
            slug: category.slug,
            description: category.data.description,
        },
    };
});

const tags: CollectionEntry<"tags">[] = await getCollection(
    "tags",
    (category) => slugs.includes(category.slug)
);

const tagItems: PlaceCardRef[] = tags.map((tag) => {
    if (tag.data.heroImage == null) {
        throw new Error(
            "tags must include a hero images to be matted to a PlaceCardRef"
        );
    }

    return {
        type: "tags",
        item: {
            name: tag.data.name,
            description: tag.data.description,
            heroImageMetaData: tag.data.heroImage,
            slug: tag.slug,
        },
    };
});
console.log(categoryItems.length);
console.log(tagItems.length);

const businessPlaceCards = await getPlaceCardsFromRefs(
    [...categoryItems, ...tagItems],
    800
);

businessPlaceCards.sort(
    (a, b) => slugs.indexOf(a.slug ?? "") - slugs.indexOf(b.slug ?? "")
);
---

<Section>
    <H2 position="center" color="coral">What's On</H2>
    <ContentPromotions promotionPlaceCards={businessPlaceCards} />
</Section>
