---
import ContentPromotions from "@/components/content/ContentPromotions.astro";
import H2 from "@/components/elements/headers/H2.astro";
import { type CollectionEntry, getCollection } from "astro:content";

const businesses: CollectionEntry<"businesses">[] =
    await getCollection("businesses");

const businessItems = businesses.slice(0, 4);

---
<H2 position="center" color="coral">What's on</H2>
<ContentPromotions businesses={businessItems}/>