---
import H1 from "../elements/headers/H1.astro";
import MonoBody from "../elements/MonoBody.astro";

type Props = {
    title: string;
    description?: string;
};

const { title, description } = Astro.props;

---
<div class="flex flex-col justify-center items-center text-center bg-black/40 p-4 h-full">
    <H1 color="white" position="center">{title}</H1>
    {
        description && (
            <MonoBody color="white" position="center">
                {description}
            </MonoBody>
        )
    }
</div>