---
import SerifBody from "@/components/elements/body/SerifBody.astro";
import type { IconDefinition } from "@fortawesome/fontawesome-svg-core";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";

type Props = {
    icon: IconDefinition;
    text: string;
};

const { icon, text } = Astro.props;
---
<div class="flex flex-col items-center justify-center text-white">
    <div class="flex flex-col items-center justify-center gap-5">
        <FontAwesomeIcon icon={icon} height={40} width={40} />
        <SerifBody color="white" position="center">{text}</SerifBody>
    </div>
</div>