---
import SerifBody from "@/components/elements/body/SerifBody.astro";
import H1 from "@/components/elements/headers/H1.astro";
import ContentLayout from "@/layouts/ContentLayout.astro";
import PromotedCategory from "@/components/index/Content/PromotedCategory.astro";
---

<ContentLayout
    title="Sharrow vale small businesses"
    description="the place to find independent small businesses in Sharrow Vale, and what's going on in the community"
    pagefindIgnore={true}
>
    <div class="flex flex-col items-center justify-center pt-8">
        <div class="flex flex-col gap-10">
            <div class="flex flex-col gap-6">
                <H1 position="center" color="coral">Page not found</H1>
                <SerifBody size="lg" position="center"
                    >The page you're looking for doesn't exist</SerifBody
                >
            </div>
            <PromotedCategory title={""} />
        </div>
    </div>
</ContentLayout>
