---
import BaseHead from "@/components/BaseHead.astro";
import Layout from "../layouts/Place.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { YouTube } from "astro-embed";
import { SignupForm } from "@/components/SignupForm.tsx";
---

<html lang="en">
	<head>
		<BaseHead title="about" description={""} />

		<style>
			/* Set the height of the map container */
			#map {
				height: 400px;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<section>
					<h1>Joining the site</h1>
					<p>
						Interested in finding out more about the Sharrow Vale
						directory? Scroll down to find out more!
					</p>
				</section>
				<section>
					<h1>Hey! 👋</h1>
					<p>
						An introduction to the site from its founders Dan & Sam
					</p>
					<YouTube id="https://youtu.be/zZd_WL1HGBM" />
				</section>
				<section>
					<h1>Our Vision</h1>
					<p>
						Our vision is to help grow and support small businesses
						in Sharrow Vale.
					</p>
					<p>
						As locals we love the unique collection of shops in the
						Vale and see that a central website would improve the
						accessibility of the shops and services available,
						making it easy for locals and visitors to easily search
						and see what's on offer.
					</p>
					<p>
						To support this we'll be maintaining and growing the
						site as well as providing regular web articles like:
						'Top 5 places to grab a drink in Sheffield this Summer'
						or 'Best places to get graduation gifts in Sheffield'
						which continue to bring new traffic to the site and to
						the businesses on it. This alongside promotion at events
						like the markets will help lead local people to consider
						Sharrow Vale as the place to go for their local needs.
					</p>
					<p>
						There's lots of ways we could develop this site but for
						now we're not looking to replace any existing sites,
						just looking for businesses that want to partner with us
						in boosting business in the area.
					</p>
					<p>
						This site is not a replacement of the Sharrow Vale
						Community Association but we are aspiring to partner
						with them.
					</p>
				</section>
				<section>
					<h1>Why be on the site?</h1>
					<h2 class="text-center">Benefits for you</h2>
					<ol class="flex flex-cols gap-3 list-decimal">
						<li
							class="border border-dashed border-black text-black text-center bg-yellow-200 bg-opacity-25 rounded-2xl justify-center items-start max-w-xs p-4 font-serif font-normal flex"
						>
							Top class SEO (Google ranking + Analytics)
						</li>
						<li
							class="border border-dashed border-black text-black text-center bg-yellow-200 bg-opacity-25 rounded-2xl justify-center items-start max-w-xs p-4 font-serif font-normal flex"
						>
							Fee free set-up, welcome pack & future edits
						</li>
						<li
							class="border border-dashed border-black text-black text-center bg-yellow-200 bg-opacity-25 rounded-2xl justify-center items-start max-w-xs p-4 font-serif font-normal flex"
						>
							Regular site promotion with web articles & local
							promotion
						</li>
						<li
							class="border border-dashed border-black text-black text-center bg-yellow-200 bg-opacity-25 rounded-2xl justify-center items-start max-w-xs p-4 font-serif font-normal flex"
						>
							Excellent design with a personal touch
						</li>
						<li
							class="border border-dashed border-black text-black text-center bg-yellow-200 bg-opacity-25 rounded-2xl justify-center items-start max-w-xs p-4 font-serif font-normal flex"
						>
							Friendly and accessible support from S11 locals
						</li>
					</ol>
					<h2>Further benefits:</h2>
					<ul class="list-disc">
						<li>A site for locals run by locals</li>
						<li>A cheap alternative to a custom website</li>
						<li>
							Mobile first design that looks good on mobile phones
							every time Promote events and offers in our ad
							banner
						</li>
						<li>
							Easy, full set up assistance Free photography &
							copywriting available
						</li>
						<li>Easy, cancel anytime payments</li>
					</ul>

					<h2>Benefits for the community</h2>
					<ul class="list-disc">
						<li>Build the community of small businesses</li>
						<li>
							Increasing footfall to the area, a new customer for
							you could be one for your neighbour
						</li>
						<li>Help tourists and locals find something new</li>
						<li>
							Invest in the reputation of Sharrow Vale Central
							place for promoting community events
						</li>
					</ul>
				</section>
				<section class="grid grid-cols-2">
					<div>
						<h1>Interested?</h1>
						<p>
							Start a conversation using the form and we'll be in
							touch with next steps or email us directly at
							info@sharrowvale.co.uk
						</p>
					</div>

					<SignupForm />
				</section>
			</article>
		</main>
		<Footer />
	</body>
</html>
