---
import "@/styles/globals.css";

import { InteractiveCarousel } from "../components/index/HomeCarousel.tsx";

import Layout from "@/layouts/Layout.astro";
import SearchField from "@/components/index/SearchField.astro";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faChevronDown } from "@fortawesome/free-solid-svg-icons/faChevronDown";
import { type CollectionEntry, getCollection } from "astro:content";
---

<Layout>
	<section
		class="text-center h-[80svh] mh-[600px] flex flex-col items-center justify-center"
	>
		<div class="mb-[120px] flex flex-col gap-4">
			<h2
				class="font-lato text-3xl text-black tracking-[.08em] uppercase mt-0 mb-0 font-bold leading-none no-underline"
			>
				Welcome to
			</h2>
			<h1
				class="font-merriweather font-bold text-coral text-mega text-center capitalize"
			>
				Sharrow Vale
			</h1>
			<h2
				class="font-lato text-3xl text-black tracking-[.08em] uppercase mt-0 mb-0 font-bold leading-none no-underline"
			>
				small businesses
			</h2>
			<p>
				The home for exploring the unique community of businesses
				<br />
				and services in Sharrow Vale, Sheffield
			</p>
		</div>
		<div class="text-center">
			<a href="#search" class="flex flex-col gap-2">
				<span
					class="text-black mt-0 mb-0 font-lato text-base font-light leading-[1.24] no-underline"
				>
					Search businesses
				</span>
				<FontAwesomeIcon className="text-black" icon={faChevronDown} />
			</a>
		</div>
	</section>

	<section>
		<InteractiveCarousel
			client:load
			images={[
				"https://cdn.prod.website-files.com/66637bfce5ac00faa1c7cbd8/666576a0c2d4c780054817d3_market%20.jpeg",
				"https://cdn.prod.website-files.com/66637bfce5ac00faa1c7cbd8/6665738905abe840eef315ec_eve%20k.jpeg",
				"https://uploads-ssl.webflow.com/66637bfce5ac00faa1c7cbd8/666b8579fc23fb88222f0dd1_the-best-open-mic-nights-in-london.webp",
			]}
		/>
	</section>

	<section
		class="text-center flex flex-col items-center justify-center gap-y-5 py-[50px]"
	>
		<h2
			class="font-lato text-3xl text-black tracking-[.08em] uppercase mt-0 mb-0 font-bold leading-none no-underline"
		>
			sharrow vale directory
		</h2>
		<h1
			class="font-merriweather text-coral text-[3.5rem] line-height-[124%] text-center capitalize"
		>
			Search For Local Restaurants,<br /> shops, Cafes And More
		</h1>
	</section>
	<section class="w-full flex flex-col items-center justify-center">
		<SearchField />
	</section>
</Layout>
