---
import { type CollectionEntry, getCollection } from "astro:content";
import ContentLayout from "@/layouts/ContentLayout.astro";

import bannerImage from "../assets/images/index/heroImage.jpg";
import HeaderContent from "@/components/index/Header/HeaderContent.astro";
import DirectoryCarousel from "@/components/index/Content/DirectoryCarousel.astro";
import InfoForLocals from "@/components/index/Content/InfoForLocals.astro";
import Spotlight from "@/components/index/Content/Spotlight.astro";
import LatestNews from "@/components/index/LatestNews.astro";
import SharrowValeMarket from "@/components/index/Content/SharrowValeMarket.astro";
import ScreenWidth from "@/components/elements/ScreenWidth.astro";
---

<ContentLayout
    image={bannerImage}
    title="Sharrow vale small businesses"
    description="the place to find independent small businesses in Sharrow Vale, and what's going on in the community"
    HeaderContent={HeaderContent}
    pagefindIgnore={true}
>
    <div class="flex flex-col gap-12 md:gap-40">
        <DirectoryCarousel />
        <ScreenWidth classList="flex flex-col gap-12 md:gap-40">
            <InfoForLocals />
            <!-- when we have more content, we can add this component -->
            <Spotlight />
            <LatestNews />
            <SharrowValeMarket />
        </ScreenWidth>
    </div>
</ContentLayout>
