---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "@/styles/globals.css";
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main
			class="min-h-[100vh] bg-[#FDFAE9] flex flex-col items-center justify-center"
		>
			<div
				class="animate-glide flex flex-col gap-[40px] items-center justify-center max-w-[300px] text-center"
			>
				<img
					src="/imgs/sharrow.jpg"
					alt="Sharrow Vale View"
					class="rounded-full h-[240px] aspect-square object-cover"
				/>
				<img
					src="/logo.svg"
					alt="Sharrow Vale logo"
					class="max-w-[300px]"
				/>
				<div
					class="flex flex-col gap-[15px] items-center justify-center"
				>
					<h1 class="font-crimson font-semibold text-2xl text-brick">
						A home for small <br />businesses in Sharrow Vale
					</h1>
					<p class="font-almarai tracking-widest text-base">
						COMING SOON
					</p>
					<a
						class="font-crimson flex flex-row gap-1 flex-fill"
						href="mailto:sf.samfelton@icloud.com"
					>
						sf.samfelton@icloud.com
					</a>
				</div>
			</div>
		</main>
	</body>
</html>
