---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import "@/styles/globals.css";

import { InteractiveCarousel } from "../components/HomeCarousel.tsx";

import Search from "astro-pagefind/components/Search";
// import SearchField from "../components/SearchField.astro";

const title = "Search | Alex Trost";
const description = "Search the website of Alex Trost";
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<InteractiveCarousel client:load />

		<main>
			<h1>Sharrow Vale Directory</h1>
			<h2>Search for local Restaurants, Shops, Cafes and more</h2>

			<Search
				id="search"
				className="pagefind-ui"
				uiOptions={{
					showImages: true,
					showEmptyFilters: true,
					openFilters: ["Tags", "Type"],
				}}
			/>
		</main>
		<Footer />
	</body>
</html>
