---
interface Props {
    address: string | null;
    title: string;
}

const { address, title } = Astro.props;
---

<div class="w-full">
    <div id="map" class="h-[400px] w-full rounded-3xl"></div>

    <template data-address={address} data-title={title}></template>

    <script
        async
        defer
        is:inline
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwpFnEwog4QuXtFxuvB3IZXLeXF-D7rXI&callback=initMap"
    ></script>
    <script is:inline defer>
        let map;
        let marker;
        let geocoder;

        const { address, title } = document.querySelector("template").dataset;

        async function initMap() {
            geocoder = new google.maps.Geocoder();
            geocoder.geocode({ address: address }, (results, status) => {
                if (status === "OK") {
                    const marketLocation = results[0].geometry.location;

                    map = new google.maps.Map(document.getElementById("map"), {
                        center: marketLocation,
                        zoom: 19,
                    });
                    marker = new google.maps.Marker({
                        position: marketLocation,
                        map,
                        title: title,
                        icon: "/images/map-pin.svg",
                    });
                }
            });
        }

        initMap();
    </script>
</div>
