---
import P from "../elements/body/P.vue";

type Props = {
    tableData: [string, string][];
    tableClassList?: string;
};

const { tableClassList, tableData } = Astro.props;
---

<div class="flex w-full flex-col gap-2">
    <table class={tableClassList}>
        <tbody>
            {
                tableData.map(([key, value]) => (
                    <tr>
                        <td class="line">
                            <P>{key}:</P>
                        </td>
                        <td class="text-end">
                            <P>{value}</P>
                        </td>
                    </tr>
                ))
            }
        </tbody>
    </table>
</div>

<style></style>
