---
import H2 from "@/components/elements/headers/H2.astro";
import { getCollection } from "astro:content";
import FAQ from "./faq.astro";

const faqs = await getCollection("faqs");
---

<H2>FAQ's</H2>
<section>
    {
        faqs.map(async (faq, index: number) => (
            <details>
                <summary>{faq.data.preview}</summary>
                <FAQ key={index} position={faq} />
            </details>
        ))
    }
</section>
