---
import H2 from "@/components/elements/headers/H2.astro";
import { getCollection } from "astro:content";
import FAQ from "./faq.astro";

import FAQAccordion from "./faqAccordion.vue";

const faqs = await getCollection("faqs");
---

<H2>FAQ's</H2>
<section>
    {
        faqs.map(async (faq, index: number) => (
            <FAQAccordion client:only="vue" preview={faq.data.preview}>
                <FAQ key={index} position={faq} />
            </FAQAccordion>
        ))
    }
</section>
