---
type Props = {
    classList?: string;
    weight?: "light" | "bold" | "normal";
    position: "center" | "start" | "end";
    color?: "white" | "coral" | "black";
    id?: string;
};

const props: Props = Astro.props;

// Assign default value for props
export const defaultProps: Props = {
    color: "black",
    position: "start",
    weight: "light",
};

let weightStyles = "";

if (props.weight == "bold") {
    weightStyles = "font-bold tracking-wider";
} else {
    weightStyles = `font-${props.weight} tracking-normal`;
}
---

<p
    id={props.id}
    class:list={[
        "md:text-lg xl:text-xl font-lato no-underline leading-5",
        `text-${props.color}`,
        `text-${props.position}`,
        weightStyles,
        props.classList,
    ]}
>
    <slot />
</p>
