---
type Props = {
    classList?: string;
    size?: "large" | "medium" | "small";
    id?: string;
};

const props: Props = Astro.props;

// Assign default value for props
export const defaultProps: Props = {
    size: "medium",
};

let fontSize = "";

if (props.size == "large") {
    fontSize = "text-xl sm:text-2xl lg:text-3xl xl:text-4xl tracking-widest";
} else if (props.size == "medium") {
    fontSize = "text-lg sm:text-xl lg:text-2xl xl:text-3xl tracking-widest";
} else if (props.size == "small") {
    fontSize = "text-base md:text-base lg:text-lg xl:text-xl";
}
---

<p
    id={props.id}
    class:list={[
        "underline-none mb-0 mt-0 w-full font-lato capitalize text-white",
        fontSize,
    ]}
>
    <slot />
</p>
