---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection, type CollectionEntry } from "astro:content";
import PlaceCard from "@/components/businesses/PlaceCard.astro";
import Layout from "@/layouts/Layout.astro";
import SearchField from "@/components/search/SearchField.astro";

const businesses: CollectionEntry<"businesses">[] =
    await getCollection("businesses");
---

<Layout>
    <div class="px-8">
        <h2 class="text-coral text-center pt-5">
            Search For Local Restaurants,<br /> Shops, Cafes And More
        </h2>

        <SearchField startResult="false" />
        <hr />
        <article class="pt-[3rem] px-10 pb-5" data-pagefind-ignore>
            <ul class="grid md:grid-cols-2 gap-4">
                {
                    businesses.map((business) => (
                        <li>
                            <PlaceCard {...business} />
                        </li>
                    ))
                }
            </ul>
        </article>
    </div></Layout
>
