---
const today = new Date();
import { LOGO_URL_DARK } from "../consts";
---

<div class="w-full text-gray-50 bg-gray-800 flex justify-center">
	<footer>
		<div class="flex justify-between">
			<div>
				<a href="/">
					<img
						src={LOGO_URL_DARK}
						alt="Sharrow Vale Logo"
						width="160"
						height="160"
					/>
				</a>
				<p>All rights reserved</p>
			</div>
			<div class="text-end gap-3">
				<div>
					<span><a href="/">HOME</a></span>
					<span><a href="/about">JOIN</a></span>
				</div>
				<div>
					<span
						><a href="mailto:info@sharrowvale.co.uk">
							info@sharrowvale.co.uk
						</a>
					</span>
					<span>Like this site? Check out D&n Facebook Instagram</span
					>
				</div>
			</div>
		</div>
		<div class="social-links text-center">Facebook Instagram</div>
	</footer>
</div>
