---
const today = new Date();
import { LOGO_URL_DARK } from "../consts";
---

<div
	class="w-full text-gray-50 bg-gray-800 flex justify-center pt-[64px] px-[40px] pb-[80px]"
>
	<footer class="flex flex-col gap-[64px]">
		<div class="flex justify-between">
			<div>
				<a href="/">
					<img
						src={LOGO_URL_DARK}
						alt="Sharrow Vale Logo"
						width="160"
						height="160"
					/>
				</a>
				<p class="font-1">All rights reserved</p>
			</div>
			<div class="text-end gap-3">
				<div>
					<span><a href="/">HOME</a></span>
					<span><a href="/about">JOIN</a></span>
				</div>
				<div>
					<p>
						<a href="mailto:info@sharrowvale.co.uk">
							info@sharrowvale.co.uk
						</a>
					</p>
					<p>Like this site? Check out D&n Facebook Instagram</p>
				</div>
			</div>
		</div>
		<div class="social-links text-center flex justify-center gap-3 w-full">
			<p>Facebook</p>
			<p>Instagram</p>
		</div>
	</footer>
</div>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		const sections = document.querySelectorAll("section");

		const observerOptions = {
			root: null,
			rootMargin: "0px",
			threshold: 0.1,
		};

		const sectionObserver = new IntersectionObserver(
			(entries, observer) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						entry.target.classList.add("visible");
						observer.unobserve(entry.target);
					}
				});
			},
			observerOptions,
		);

		sections.forEach((section) => {
			sectionObserver.observe(section);
		});
	});
</script>
