---
import HeaderLink from "./HeaderLink.astro";
import { LOGO_URL } from "../consts";
---

<header class="w-full">
	<nav class="w-full pt-8 px-10 flex justify-between items-center">
		<a href="/">
			<img
				src={LOGO_URL}
				alt="Sharrow Vale Logo"
				width="160"
				height="160"
			/>
		</a>

		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/places">Places</HeaderLink>
			<HeaderLink href="/about">Join</HeaderLink>
		</div>
	</nav>
</header>
