---
import H1 from "@/components/elements/headers/H1.astro";
import MonoBody from "@/components/elements/body/MonoBody.astro";

type Props = {
    title: string;
    description?: string;
};

const { title, description } = Astro.props;
---

<div
    class="flex flex-col justify-center items-center gap-3 text-center p-4 h-full"
>
    <H1 color="white" position="center" font="crimson">{title}</H1>
    {description && <MonoBody size="small">{description}</MonoBody>}
</div>
