---
import H1 from "@/components/elements/headers/H1.astro";
import MonoBody from "@/components/elements/body/MonoBody.astro";
import Section from "@/components/elements/articles/FloatSection.astro";

type Props = {
    title: string;
    description?: string;

    headerTop?: string[];
    headerBottom?: string[];
};

const { title, description, headerTop, headerBottom } = Astro.props;
---

<div
    class="flex h-full flex-col items-center justify-center gap-3 p-4 text-center"
    data-pagefind-body
>
    <Section floatIn={true}>
        {
            headerTop && (
                <MonoBody
                    size="small"
                    data-pagefind-meta="content[data-src]"
                    data-pagefind-body
                >
                    {headerTop.map((text) => (
                        <span>{text}</span>
                    ))}
                </MonoBody>
            )
        }

        <H1 color="white" position="center" font="crimson">
            <span data-pagefind-meta="title" data-pagefind-sort="title">
                {title}
            </span>
        </H1>
        {
            headerBottom && (
                <MonoBody
                    classList="flex gap-3 justify-center flex-col md:flex-row"
                    size="small"
                    data-pagefind-meta="content[data-src]"
                    data-pagefind-body
                >
                    {headerBottom.map((text) => (
                        <span>{text}</span>
                    ))}
                </MonoBody>
            )
        }
    </Section>
</div>
