---
import H2 from "@/components/elements/headers/H2.astro";
import Section from "@/components/elements/sections/FloatSection.astro";
import type { PlaceCardRef } from "@/components/placeCards/PlaceCardRef";
import TagList from "@/components/promos/TagList.vue";

type Props = {
    promotedItems: PlaceCardRef[];
    title?: string;
    size?: "sm" | "lg";
};

const { size, promotedItems, title } = Astro.props;
---

<Section floatIn={true}>
    {
        title && (
            <H2 color="coral" position="center">
                {title}
            </H2>
        )
    }
    <TagList size={size} tags={promotedItems} />
</Section>
