---
import H2 from "@/components/elements/headers/H2.astro";
import Section from "@/components/elements/Section.astro";
import type { PlaceCardRef } from "@/components/placeCards/PlaceCardRef";
import TagList from "@/components/promos/TagList.vue";

type Props = {
    promotedItems: PlaceCardRef[];
    title?: string;
};

const { promotedItems, title = "Discover more" } = Astro.props;
---

<Section floatIn={true}>
    <H2 color="coral" position="center">{title}</H2>
    <TagList tags={promotedItems} />
</Section>
