---
type Props = {
    position?: "start" | "center" | "end";
};

const { position = "start" } = Astro.props;

const positionClass = `text-${position}`;
---

<section class:list={["empty:hidden", positionClass]}>
    <slot />
</section>

<style>
    section :global(h2) {
        @apply capitalize font-merriweather text-coral leading-6 text-center text-xl md:text-2xl lg:text-3xl font-light md:font-normal;
    }

    section :global(h3) {
        @apply font-merriweather text-lg mb-2;
    }

    section :global(p),
    section :global(td) {
        @apply text-base font-lato font-light leading-6 no-underline mb-1;
    }

    section :global(#business-content),
    section :global(#article-content) {
        @apply text-coral;
    }
</style>
