---
type Props = {
    position?: "start" | "center" | "end";
};

const { position = "start" } = Astro.props;

const positionClass = `text-${position}`;
---

<section class="pb-4 md:pb-5" class:list={["empty:hidden", positionClass]}>
    <slot />
</section>

<style>
    section :global(h2) {
        @apply mb-1 mt-4 text-center font-merriweather text-2xl font-normal capitalize text-coral md:text-3xl lg:text-4xl;
    }

    section :global(h3) {
        @apply mb-2 font-merriweather text-lg;
    }

    section :global(p),
    section :global(td) {
        @apply mb-6 font-lato text-xl font-light leading-6 no-underline;
    }

    section :global(a) {
        @apply text-coral underline;
    }

    section :global(a:hover) {
        @apply font-normal;
    }

    section :global(#business-content),
    section :global(#article-content) {
        @apply text-coral;
    }
</style>
