---
import HeaderLink from "@/components/HeaderLink.astro";
import { LOGO_URL_DARK } from "@/consts";
import ScreenWidth from "@/components/elements/ScreenWidth.astro";

import { faBars } from "@fortawesome/free-solid-svg-icons/faBars";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
---

<nav class="w-full">
    <ScreenWidth>
        <div class="w-full pt-8 flex justify-between items-center">
            <a href="/">
                <img
                    src={LOGO_URL_DARK}
                    alt="Sharrow Vale Logo"
                    width="160"
                    height="160"
                />
            </a>

            <div class="internal-links gap-6 hidden md:flex text-white">
                <HeaderLink
                    href="/tags/sharrow-vale-market"
                    class="font-lato font-light text-xl mt-0 mb-0"
                    >The Market</HeaderLink
                >
                <HeaderLink
                    href="/categories/directory"
                    class="font-lato font-light text-xl mt-0 mb-0"
                    >Directory</HeaderLink
                >
                <HeaderLink
                    href="/articles"
                    class="font-lato font-light text-xl mt-0 mb-0"
                    >News & Updates</HeaderLink
                >
                <HeaderLink
                    href="/join"
                    class="font-lato font-light text-xl mt-0 mb-0"
                    >About</HeaderLink
                >
            </div>

            <div class="flex md:hidden text-white">
                <FontAwesomeIcon
                    icon={faBars}
                    height={23}
                    width={23}
                    fontSize={23}
                />
            </div>
        </div>
    </ScreenWidth>
</nav>
