---
import HeaderLink from "@/components/HeaderLink.astro";
import { LOGO_URL } from "@/consts";
import ScreenWidth from "@/components/elements/ScreenWidth.astro";
---

<nav class="w-full">
    <ScreenWidth>
        <div class="w-full pt-8 flex justify-between items-center">
            <a href="/">
                <img
                    src={LOGO_URL}
                    alt="Sharrow Vale Logo"
                    width="160"
                    height="160"
                />
            </a>

            <div class="internal-links flex gap-6">
                <HeaderLink
                    href="/"
                    class="font-lato font-light text-xl leading-[1.32] tracking-[.04em] mt-0 mb-0"
                    >Home</HeaderLink
                >
                <HeaderLink
                    href="/join"
                    class="font-lato font-light text-xl leading-[1.32] tracking-[.04em] mt-0 mb-0"
                    >Join</HeaderLink
                >
            </div>
        </div>
    </ScreenWidth>
</nav>
