---
type Props = {
    classList?: string;
    id?: string;
};

const props: Props = Astro.props;

// Assign default value for props
export const defaultProps: Props = {
    classList: "",
};
---

<div class="w-full h-full flex justify-center">
    <div
        id={props.id}
        class:list={[
            "w-full max-w-screen-xl mx-6 md:mx-16 flex flex-col ",
            props.classList,
        ]}
    >
        <slot />
    </div>
</div>
