---
type Props = {
    classList?: string;
    color?: "white" | "coral" | "black";
    font?: "crimson" | "merriweather";
    id?: string;
    position?: "start" | "center" | "end";
};

const props: Props = Astro.props;

const {
    color = "white",
    position = "start",
    font = "merriweather",
} = Astro.props;

const fontFamilies = {
    merriweather:
        "font-merriweather text-6xl/tight lg:text-7xl/tight xl:text-8xl/tight",
    crimson: "font-crimson text-6xl/[1.1] lg:text-7xl/[1.1] xl:text-8xl/[1.1]",
};
---

<h1
    id={props.id}
    class:list={[
        "underline-none mb-0 mt-0 w-full font-semibold capitalize md:font-bold",
        `text-${color}`,
        `text-${position}`,
        props.classList,
        fontFamilies[font],
    ]}
>
    <slot />
</h1>
