---
type Props = {
    classList?: string;
    color?: "white" | "coral" | "black";
    font?: "crimson" | "merriweather";
    id?: string;
    position?: "start" | "center" | "end";
};

const props: Props = Astro.props;

const {
    color = "white",
    position = "start",
    font = "merriweather",
} = Astro.props;

const fontFamilies = {
    merriweather: "font-merriweather",
    crimson: "font-crimson",
};
---

<h1
    id={props.id}
    class:list={[
        "underline-none mb-0 mt-0 w-full text-7xl font-semibold capitalize md:font-bold xl:text-8xl",
        `text-${color}`,
        `text-${position}`,
        props.classList,
        fontFamilies[font],
    ]}
>
    <slot />
</h1>
