---
type Props = {
    classList?: string;
    color?: "white" | "coral" | "black";
    id?: string;
    position?: "start" | "center" | "end";
};

const props: Props = Astro.props;

// Assign default value for props
export const defaultProps: Props = {
    color: "white",
    position: "start",
};
---

<h1
    id={props.id}
    class:list={[
        "capitalize w-full mt-0 mb-0 font-merriweather font-bold leading-[1.02] underline-none text-[2.5rem] md:text-[3.5rem]",
        `text-${props.color}`,
        `text-${props.position}`,
        props.classList,
    ]}
>
    <slot />
</h1>
