---
import "@/styles/pagefind.css";
import { type CollectionEntry, getCollection } from "astro:content";

const businessCategories: CollectionEntry<"business-category">[] =
    await getCollection("business-category");

const businesses: CollectionEntry<"businesses">[] =
    await getCollection("businesses");

const tags = businesses
    .map((b) => b.data.tags)
    .flat()
    .filter((t) => t !== undefined);
---

<!-- <link href="/pagefind/pagefind-ui.css" rel="stylesheet" /> -->
<script src="/pagefind/pagefind-ui.js" is:inline></script>

<div id="tags" class="hidden">
    {tags.map((tag, i) => <data>{tag}</data>)}
</div>

<div id="search" class="w-full"></div>

<a
    href="/businesses"
    class="hover:scale-110 transition-all border border-black rounded-full py-1 px-2"
>
    Visit the directory
</a>

<script type="module">
    window.addEventListener("DOMContentLoaded", async (event) => {
        let pagefindUI = new PagefindUI({
            element: "#search",
            showEmptyFilters: true,
            openFilters: ["Type"],
            showImages: true,
            excerptLength: 10,
        });

        let tags = document.querySelector("div#tags").querySelectorAll("data");
        let tagContent = Array.from(tags).map((tag) => tag.textContent);

        const randomIndex = Math.floor(Math.random() * tagContent.length) ?? 0;

        let firstResult = "a";

        if (tags !== undefined) {
            firstResult = tagContent[randomIndex].replace("-", " ");
        }

        await pagefindUI.triggerSearch(firstResult);

        let input = document.querySelector(".pagefind-ui__search-input");
        let clearButton = document.querySelector(".pagefind-ui__search-clear");

        let form = document.querySelector(".pagefind-ui__form");

        let searchWrapper = document.createElement("div");
        searchWrapper.classList.add("pagefind-ui__search-wrapper");

        form.appendChildBefore(input, searchWrapper);
    });
</script>
