---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/elements/Nav.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en" class="scroll-smooth">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body
        class="font-lato bg-cream flex flex-col items-center"
        transition:animate="slide"
    >
        <Nav />

        <main class="w-full flex flex-col items-center justify-center">
            <slot />
        </main>
        <Footer />
    </body>
</html>
